# Node modules
node_modules/

# Build artifacts
build/
dist/
coverage/

# Git / IDE
.git
.gitignore
.idea/
.vscode/

# Logs / Temp
npm-debug.log
yarn-error.log
*.log
*.tmp

# Docker & Compose
Dockerfile
docker-compose*.yml

# Local configs
.env
