apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: "{{ .Values.global.imageRegistry }}/{{ .Values.frontendService.image.repository }}:{{ .Values.frontendService.image.tag }}"
          ports:
            - containerPort: {{ .Values.frontendService.service.port }}
          resources: {{- toYaml .Values.frontendService.resources | nindent 12 }}
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  type: ClusterIP
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: {{ .Values.frontendService.service.port }}
      targetPort: {{ .Values.frontendService.service.port }}
