apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: shopease-user-services
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: user-service
  namespaceSelector:
    any: true
  endpoints:
    - port: http
      path: /actuator/prometheus
      interval: 15s
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: shopease-product-services
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: product-service
  namespaceSelector:
    any: true
  endpoints:
    - port: http
      path: /actuator/prometheus
      interval: 15s
