apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-alerts
  labels:
    app: prometheus
data:
  alerts.yml: |
    groups:
      - name: service-availability
        rules:
          - alert: ServiceDown
            expr: |
              absent(up{job="kubernetes-services", service="user-service"})
            for: 1m
            labels:
              severity: critical
            annotations:
              summary: "Service {{ $labels.service }} is DOWN"
              description: "Service {{ $labels.service }} has not responded for 10 seconds."

      - name: cpu-alerts
        rules:
          - alert: HighCPUUsage
            expr: process_cpu_usage{job="kubernetes-services"} > 0.80
            for: 1m
            labels:
              severity: warning
            annotations:
              summary: "High CPU usage on {{ $labels.service }}"
              description: "CPU usage above 80% for 1 minute."

      - name: jvm-memory-alerts
        rules:
          - alert: HighJVMMemoryUsage
            expr: |
              (
                jvm_memory_used_bytes{area="heap"}
                /
                jvm_memory_max_bytes{area="heap"}
              ) > 0.80
            for: 1m
            labels:
              severity: warning
            annotations:
              summary: "High JVM heap usage on {{ $labels.service }}"
              description: "Heap usage exceeded 80%."

      - name: jvm-gc-alerts
        rules:
          - alert: HighGCPauseTime
            expr: rate(jvm_gc_pause_seconds_sum[5m]) > 0.5
            for: 5m
            labels:
              severity: warning
            annotations:
              summary: "High GC pause time on {{ $labels.service }}"
              description: "JVM GC pauses are impacting performance."
