# kube-prometheus-stack values
# Aligned with previous manual Prometheus/Grafana setup

# Prometheus
prometheus:
  enabled: true

  prometheusSpec:
    retention: 10d

    # Allow Prometheus to discover ServiceMonitors created by the chart
    serviceMonitorSelectorNilUsesHelmValues: false

    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi

# Alertmanager
alertmanager:
  enabled: true

  alertmanagerSpec:
    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        cpu: 200m
        memory: 256Mi

  config:
    route:
      receiver: "default"
    receivers:
      - name: "default"

# Grafana
grafana:
  enabled: true

  #This is explicitly for demo. Never do this in real prod
  adminUser: admin
  adminPassword: admin

  service:
    type: NodePort

  resources:
    requests:
      cpu: 250m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 256Mi

# Custom Alert Rules (Equivalent to prometheus-alerts.yaml)
additionalPrometheusRules:
  - name: application-alerts
    groups:
      - name: service-availability
        rules:
          - alert: ServiceDown
            expr: |
              sum by (namespace, service) (
                up{job="kubernetes-service-endpoints"}
              ) == 0
            for: 1m
            labels:
              severity: critical
            annotations:
              summary: "Service {{ $labels.service }} is DOWN"
              description: "Service {{ $labels.service }} is not responding."

      - name: cpu-alerts
        rules:
          - alert: HighCPUUsage
            expr: |
              sum by (pod, namespace)(
                rate(container_cpu_usage_seconds_total{container!="",image!=""}[1m])
              ) > 0.8
            for: 1m
            labels:
              severity: warning
            annotations:
              summary: "High CPU usage on {{ $labels.service }} detected"
              description: "CPU usage above 80%."

      - name: jvm-memory-alerts
        rules:
          - alert: HighJVMMemoryUsage
            expr: |
              (
                jvm_memory_used_bytes{area="heap"}
                /
                jvm_memory_max_bytes{area="heap"}
              ) > 0.80
            for: 1m
            labels:
              severity: warning
            annotations:
              summary: "High JVM heap usage on {{ $labels.service }}"
              description: "Heap usage exceeded 80%."
